@font-face {
  font-family: 'devroye';
  src: url('./fonts/DEVROYUN.ttf');
  font-style: normal;
}
body {
  font-family: 'devroye';
}

.error,
.no-found {
  text-align: center;
  margin: 50px auto;
  width: 500px;
}
